.burses {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.burse {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.burse__row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  padding: 10px;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

.burse__row-item {
  width: fit-content;
  height: 100%;
  display: inline-block;
  padding: 0 7px;
}

.burse__buttons-prev,
.burse__buttons-next {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.burse__buttons-prev {
  background: url("../assets/possibilities__button-filled.svg");
}
.burse__buttons-next {
  background: url("../assets/possibilities__button-unfilled.svg");
}

.burse__buttons {
  margin: 10px auto;
  gap: 8px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .burse__buttons {
    display: none;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
