.faq {
  min-height: 70vh;
  position: relative;

  background: #ffffff;
  background: url("../assets/faq.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.faq__wrapper {
  width: 100%;
  height: fit-content;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 80px;
}

.faq__spring-particle {
  position: absolute;
  top: 50%;
  left: 5%;
}

.faq__square-particle {
  position: absolute;
  right: -5px;
  top: 20%;
}

.faq h2 {
  margin-top: 2%;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 800;
}

.faq__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.faq__main-item {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  border-bottom: 1px solid white;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faq__main-item span,
.faq__main-item p {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.accordion {
  padding: 0 5px;
  list-style: none;
}

.accordion-title {
  padding: 1.5rem 0;
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion-title::after {
  content: "\276F";
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0.5rem;
  font-size: 1rem;
  transform-origin: center;
  transform: rotateZ(90deg);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 40%;
  bottom: 50%;
}

.rotate .accordion-title::after {
  transform: rotateZ(-90deg);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion-content {
  height: 0px;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open .accordion-content {
  height: 100%;
  opacity: 1;
  margin: 1.5rem 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .accordion-content {
    flex-direction: column;
  }

  .accordion-content p {
    flex: 0 0 auto;
  }

  .open .accordion-content {
    min-height: calc(var(--img-height) + var(--img-height) / 2);
  }

  .accordion-item div span {
    display: block;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .faq__main-item {
    padding: 0px;
  }
  .faq__wrapper {
    padding: 0 5px;
  }
  .faq__main-item p {
    font-size: 1rem;
  }
  .faq {
    min-height: 90vh;
  }
}

@media (max-width: 1024px) {
  .faq__spring-particle {
    display: none;
  }
  .faq__square-particle {
    top: 8%;
  }
}
