@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&display=swap");

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_bold.otf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_extrabold.otf") format("truetype");
  font-weight: 800;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.proxima-nova-extrabold {
  font-family: "Proxima Nova", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  height: fit-content;
}

